/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
    list-style-type: none;
}
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;

    #container {
        display: flex;
        height: 100%;
        flex-direction: column;
        padding: 2%;
        ul{
            padding: 0;
            li{
                padding: 1% 0;
                .delete{
                    background-color: rgba(255,255,255,0);
                    border: 0px;
                }
            }
        }
    }
}